<!DOCTYPE html>

<html ng-app='app'  lang="en">


<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
</head>

<body>

<div ng-controller='PostsCtrl' class='container'>

    <h1>Recent Posts</h1>

    <form role='form'>

        <div class='form-group'>

            <div class="input-group">

                <input ng-model="postBody" class='form-control'>

            <span class='input-group-btn'>

              <button ng-click='addPost()' class='btn btn-default'>Add Post</button>

            </span>

            </div>

        </div>

    </form>

    <ul class='list-group'>

        <li ng-repeat='post in posts' class='list-group-item'>

            <strong>@{{ post.username }}</strong>

            <span>{{ post.post }}</span>

        </li>

    </ul>

</div>


<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>


<script>

    var app = angular.module('app', [])


    app.controller('PostsCtrl', function ($scope, $http) {

        $scope.addPost = function () {

            if ($scope.postBody) {

                $scope.posts.unshift({

                    username: 'erlend',
                    body: $scope.postBody

                })

                $scope.postBody = null
            }
        }

        $http.get('http://localhost:3000/api/posts').success(function(posts){

            $scope.posts = posts

        })

        /*$scope.posts = [
            {
                username: 'erlendw',
                body: 'beh'
            },
            {
                username: 'erlend øst',
                body: 'leeeeeeee roy j'
            }
        ]*/
    })
</script>
</body>
</html>